# Hides the node_modules folder
node_modules

# Hides the .env file and its SECRETS
.env

# Hides the .DS_Store
.DS_Store

# Hides my personal notes
notes.txt

# Hides the Challenge Instructions and its Assets
challenge